*{margin: 0; padding: 0;}
.noidung{
	display: flex;
	flex-wrap: wrap;
}
.noidung .khoianh{
	width: 25%;
	box-sizing: border-box;
	padding: 5px;
}
.khoianh img{
	width: 100%;
	border-radius: 5px;
}

.duocchon{
	background: brown;
}

figcaption{
	text-align: center;
	padding: 2px;
	background: white;
}

@media (max-width:576px) {
	.noidung .khoianh{
		width: 100%;
	}
}
@media (max-width:577px) and (max-width:768px){
	.noidung .khoianh{
		width: 50%;
	}
}